# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# 忽略node_modules目录
node_modules/

# 忽略Logs
logs
*.log

# 忽略/dist目录，相对.gitignore文件所在目录
/dist

# 忽略.env文件
.env

# 忽略IDE的配置文件
.idea/
.vscode/
*.sw*

# 忽略插件
/plugin
